@import "func.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $colors_background;  
  overflow: overlay;
}
:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  opacity: 1;
  color: $font_color_50;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid $colors_line;
  border-radius: 3px;
  background: $white;

  &::before {
    content: url("../assets/Checked.png");
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
  }

  &:hover {
    background-color: rgba(27, 193, 219, 0.1);
  }

  &:checked {
    border-color: $colors_line;
    color: $colors_main;

    &::before {
      border-radius: 2px;
      transform: scale(1) translate(-50%, -50%);
    }
  }
}

.input-group{
  @include input_box(300px,30px);

  &:hover {
    border: 1px solid $gray400;
  }
  &.active {
    border: 1px solid $navy;
  }
}
/* select */
.selectBox {
  width: 100%;
  position: relative;

  &.disable .label {
    border: 1px solid $colors_line;
    color: $font_color_20;
    background: $gray100 url(../assets/ic_dropdown_arrow_down_disabled.svg) no-repeat right 12px center;
    &:hover {
      border: 1px solid $colors_line;
    }
  }
  .label {
    width: 100%;
    text-align: left;
    border: 1px solid $colors_line;
    height: 38px;
    border-radius: 4px;
    padding: 0 34px 0 16px;
    color: $font_color_80;
    background: $white url(../assets/ic_dropdown_arrow_down_default.svg) no-repeat right 12px center;
    @include text_overflow;

    &:hover {
      border: 1px solid $gray400;
    }
    &.active {
      border: 1px solid $navy;
    }
  }
  .optionList {
    z-index: 10;
    width: 100%;
    border: 1px solid $navy;
    background-color: $white;
    border-radius: 4px;
    max-height: 190px;
    overflow-y: auto;
    position: absolute;
    top: 46px;
    display: none;
    @include scrollbar("V");

    .optionItem {
      padding: 8px 16px;
      @include text_overflow;
      &:hover {
        background-color: $colors_main_10;
        color: $colors_font;
        font-weight: 600;
      }
    }
  }
}

@include keyframe(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframe(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  @include animation(0s, 1s, fadeIn);
}

.table-view-count {
  // @include input_box(100px, 38px);
  width: 100px;
}

.common-box {
  border-radius: 14px;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.el-group {
  display: flex;
  gap: 10px;
}

.header-wrapper {
  background-color: $colors_main;
  min-width: 1600px;
  .header-main-menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 70px;
    
    @include large {    
      // width: 100%;
      margin: 0 160px;
    }
    @include small {
      margin: 0 auto; 
      width: 1600px;     
    }

    .header-logo {
      img {
        content: url(../assets/logo.png);
      }
    }

    ul.main-menu {
      display: flex;
      align-items: center;
      gap: 30px;

      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: #fff;

      li {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 2px;
        cursor: pointer;

        &.active {
          font-weight: bold;
          border-bottom: 2px solid #fff;
        }
      }

      &.user-mode {
        li {
          &:nth-child(4),&:nth-child(7),&:nth-child(11) {
            display: none;
          }
        }
      }
    }
    .header-button{
      display:flex;
      align-items: center;
      gap:6px;
    }
    .header-buttons {
      display: flex;
      gap: 6px;
    }
  }
  .forlder-menu-wrapper { 
    width: 100%;
    background-color: $blue300;
  }
  .header-sub-menubar {
    @include large {    
      // width: 100%;
      margin: 0 160px;
    }
    @include small {
      margin: 0 auto; 
      width: 1600px;     
    }
    display: flex;
    align-items: center;
    // justify-content: center;    
    height: 27px;
    background-color: $blue300;
    font-size: 12px;
    font-weight: 300;
    color: #fff;

    ul {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 20px;

      &.active {
        display: flex;
      }
      &:nth-child(1) {
        padding-left: 370px;
      }
      &:nth-child(2) {
        padding-left: 440px;
      }
      &:nth-child(3) {
        padding-left: 540px;
      }
      &:nth-child(4) {
        padding-left: 140px;
      }
      &:nth-child(5) {
        padding-left: 700px;
      }
      &:nth-child(6) {
        padding-left: 790px;
      }
      &:nth-child(7) {
        padding-left: 860px;
      }
      &:nth-child(8) {
        padding-left: 920px;
      }
      &:nth-child(9) {
        padding-left: 1000px;
      }
      &:nth-child(10) {
        padding-left: 840px;
      }
      &:nth-child(11) {
        padding-left: 940px;
      }
      li {
        cursor: pointer;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
.img-home {
  content: url("../assets/home.png");
}
.ic-arrow-r {
  content: url("../assets/c_ic_title_arrow_right.png");
  width: 24px;
  height: 24px;
  cursor: pointer;
  // background-image: url(../assets/c_ic_title_arrow_right.png);
  // background-position: center left; background-repeat: no-repeat; background-size: 11px;
}
.ic-arrow-up {
  content: url("../assets/c_ic_lnb_arrow_up.svg");
  width: 20px;
  height: 20px;
  cursor: pointer;
  // background-image: url(../assets/c_ic_title_arrow_right.png);
  // background-position: center left; background-repeat: no-repeat; background-size: 11px;
}
.ic-arrow-d {
  content: url("../assets/c_ic_dropdown_arrow_down_default.svg");
  width: 20px;
  height: 20px;
}
.ic-modal-close {
  content: url("../assets/c_ic_popup_delete.svg");
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.ic-q-mark {
  content: url("../assets/14_ic_info_q_mark.png");
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.img-round-nav {
  content: url("../assets/round-nav.png");
}
.ic-dot {
  width: 4px;
  height: 4px;  
  border-radius: 2px;
  background-color: #141f40;  
}
.ic-red-n {
  content: url("../assets/06_img_list_color_chip_red_n.png");
  width: 20px;
  height: 20px;  
}
.ic-blue-m {
  content: url("../assets/06_img_list_color_chip_blue_m.png");
  width: 20px;
  height: 20px;
}
.ic-purple-d {
  content: url("../assets/06_img_list_color_chip_purple_d.png");
  width: 20px;
  height: 20px;
}
.ic-green-s {
  content: url("../assets/06_img_list_color_chip_purple_s.png");
  width: 20px;
  height: 20px;
}
.ic-orange-i {
  content: url("../assets/06_img_list_color_chip_orange_i.png");
  width: 20px;
  height: 20px;
}
.ic-calendar {
  content: url("../assets/ico-input-date.png");
  width: 16px;
  height: 16px; 
}
.ic-channel-point {
  content: url("../assets/ic-channel-point.svg");
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.common-body {

  @include large {    
    margin: 0 160px;
  }
  @include small {
    margin: 0 auto; 
    width: 1600px;     
  }
  display: flex;
  justify-content: space-between;
}

button.menu-button {
  height: 26px;
  border-radius: 5px;
  background-color: $blue100;
  padding: 0 10px;

  font-size: 13px;
  font-weight: 300;
  color: #fff;

  &:hover {
    background-color: rgb(22, 127, 143)
    // rgb(124,194,224);
  }
}

.location {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  @include large {    
    margin: 0 160px;
  }
  @include small {
    margin: 0 auto; 
    width: 1600px;     
  }  
  margin-top: 12px;
  color: $font_color_50;
  font-size: 12px;

  div {
    &:last-child {
      font-weight: 500;
      color: $navy;
      &::after {
        content: "";
      }
    }
    &::after {
      content: url(../assets/c_ic_breadcrumbs.svg);
      position: absolute;
      width: 16px;
      height: 16px;
      padding-top: 2px;
    }
  }
}

.sub-menu-wrapper {
  border-right: 1px solid #e6e8ea;
  width: 240px;

  .sub-menu-title {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #00aace;
  }

  ul.sub-menu {
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 48px;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 500;
      color: $font_color;
      cursor: pointer;

      &:not(.three-depth):hover{
        color: $colors_font;
      }
      &.active{
       //  position: relative;
        background-color: $colors_main_10;
        border-right: 2px solid $colors_main;
        color: $colors_font;
      }
      details[open] summary {
        .ic-lnb-arrow {
          content: url("../assets/c_ic_lnb_arrow_up.svg");
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
      details summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        padding: 0 15px 0 30px;
        .ic-lnb-arrow {
          content: url("../assets/c_ic_lnb_arrow_down.svg");
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
      ul {
        li {
          height: 40px;
          font-weight: 300;
          padding: 0 15px 0 40px;
          &.active {
            font-weight: bold;
            background-color: $blue600;
            border-right: 2px solid $colors_main;
            color: $colors_font;
          }
        }
      }
      &.three-depth {
        height: 100%;
        padding: 0;
        details ul.folder-menu {
          border-top: 1px solid $gray600;
          border-bottom: 1px solid $gray600;
          li {
            font-size: 12px;
            font-weight: normal;            
            line-height: 1.25;                        
            color: $font_color;         
            &.active{
              //  position: relative;
              background-color: $colors_main_10;
              border-right: 2px solid $colors_main;
              color: $colors_font;
            }     
            &:hover{
              color: $colors_font;
            }              
          }
        }
      }
      &.four-depth {
        height: 100%;        
        &.open {
          background-color: #fafeff;
        }
        details {
          summary {
            padding: 0;
            .ic-lnb-arrow {
              content: url("../assets/c_ic_lnb_plus.svg");
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          ul li {
            padding: 0 10px;
          }
          ul.two-folder-menu {
            li {
              height: 40px;
              border-left: 1px solid $gray600;

              &.active {
                font-weight: bold;
                border-left: 1px solid $colors_main;
                border-right: none;
                background-color: #fafeff;
              }
            }
          }
        }
        details[open] summary {
          .ic-lnb-arrow {
            content: url("../assets/c_ic_lnb_minus.svg");
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.contents-wrapper {
  flex: 1;
  padding: 30px 40px 20px;
  display: flex;
  flex-direction: column;

  .content-title {
    font-size: 18px;
    font-weight: bold;
    color: $blue500;
    margin-bottom: 30px;
  }

  .content-sub-title {
    font-size: 16px;
    font-weight: bold;
    color: $blue500;
  }
}

.main {
  // padding: 0 160px;
  // margin-top: 15px;
}

.setting-table {
  width: 100%;
  // border-radius: 8px;
  overflow: hidden;
  &.list-table {
    .row {
      min-height: 40px;
      .setting-table-title {
        padding: 10px 24px;
      }
      .setting-table-content {
        padding: 10px 24px;
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid $gray600;
    &.double-cont {
      min-height: 120px;
      .setting-table-title {
        min-height: 120px;
      }
       >.setting-table-content {
        display: block;
        padding: 0;
        > div {
          padding: 0 20px;
          height: 60px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid $gray600;
          &:last-child {
            border-bottom: 0;
          }
        }
        .att-txt {
          gap: 10px;
          padding: 0 45px;
          span {
            left: 20px;
          }
        }
      }
    }
    .setting-table-title {
      display: flex;
      align-items: center;
      width: 164px;
      padding: 20px 24px;
      height: 100%;
      background-color: $colors_box;
      color: $colors_box_title;
      font-size: 14px;
      font-weight: 500;

      .btn-up,
      .btn-down {
        margin-left: 25px;
      }
    }

    .setting-table-content {
      flex: 1;
      padding: 0 20px;
      font-size: 13px;
      color: $font_color;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      // .setting-table-img {
      //   height: 200px;
      //   margin-bottom: 20px;
      //   background-color: #bcbfc7;
      //   @include flex_center;
      // }
      // .setting-table-txt {
      //   height: 200px;
      // }
      .toggle-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    
    
        &.sub, &.sub1 {
          display: none;
          border-left: 1px solid $gray600;
          padding-left: 10px;
        }
      }
      .choose-file {
        gap: 10px;
        display: flex;
        align-items: center;
      }
      .selectBox {
        width: 300px;
      }
      .desc {
        color: #9f9f9f;
        font-size: 13px;
        margin-left: 10px;
        &-red {
          color: $red;
          margin-left: 10px;
        }
      }
      .date-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &.setting-table-editor {
      height: 461px;

      .setting-table-content {
        padding: 20px;
        @include scrollbar("V");
      }
      .original-txt {
        padding-top: 10px;
      }
      .editor-cont-wrap {
        width: 100%;
      }
    }
 
    input[type="date"] {
      height: 30px;
    }
  }
}

table.jb-table {
  width: 100%;
  thead {
    height: 30px;
    background-color: $colors_box;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.33px;
    color: $colors_box_title;

    tr {
      th {
        height: 30px;
        vertical-align: middle;
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
  tbody {
    tr {
      height: 40px;
      border-bottom: 1px solid $gray600;
      td {
        padding: 0 15px;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        letter-spacing: -0.35px;
        color: $font_color;
      }
    }
  }
}

ul.pagination {
  @include flex_center;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.33px;
  text-align: center;
  color: #556076;

  li a {
    @include flex_center;
    width: 32px;
    height: 32px;
    border-radius: 32px;

    &.active {
      background-color: $colors_main;
      color: white;
      border-radius: 32px;
    }
  }
}

.input-date-group {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  border-radius: 4px;

  span {
    @include flex_center;

    width: 20px;
  }
  input[type="date"] {
    flex: 1;
  }  
  input[type="month"] {
    width: 130px;
  }
}

input[type=date],input[type=month],input[type=time] {
  position: relative;
  height: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: solid 1px $colors_line;
  background-color: $white;
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(20, 31, 64, 0.83);
}

input[type="number"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 30px;
  border: 1px solid $gray200;
  border-radius: 4px;
  background-color: $white;
  padding: 0 16px;

  color: $font_color_80;

  &:hover {
    border: 1px solid $gray400;
  }
  &::placeholder {
    opacity: 1;
    color: $font_color_50;
  }
  &:focus {
    border: 1px solid $font_color;
  }
  &:disabled {
    background-color: $gray100;
  }

  &.width-400 {width: 400px;}
}
input[type=date],input[type=month],input[type=time] {
  height: 30px;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=month]::-webkit-clear-button, 
input[type=month]::-webkit-inner-spin-button{
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator,
// input[type=time]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid $colors_line;
  padding: 16px;
  color: $font_color_80;
  &::placeholder {
    opacity: 1;
    color: $font_color_50;
  }
  @include scrollbar('V');
}
input[type=date]:after,input[type=month]:after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;

  content: url("../assets/ico-input-date.png");
  transform: translateY(-50%);
  z-index: 0;
}

.red {
  color: $red;
}
.red2 {
  color: #eb5050;
}

.att-txt {
  font-size: 13px;
  color: $font_color;
  text-decoration: underline;
  position: relative;
  padding-left: 30px;

  span {
    position: absolute;
    left: 0;
  }
}
/********** button ***********/
.btn-delete {
  background: url(../assets/c_btn_delete_default.svg) no-repeat center/cover;
  width: 22px;
  height: 22px;

  &:hover {
    background: url(../assets/c_btn_delete_hover.svg) no-repeat center/cover;
  }
}
.btn-minus {
  background: url(../assets/c_btn_minus_default.svg) no-repeat center/cover;
  width: 18px;
  height: 18px;

  &:hover {
    background: url(../assets/c_btn_minus_hover.svg) no-repeat center/cover;
  }
}
.btn-refresh {
  background: url(../assets/reset.webp) no-repeat center/cover;
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}
.btn-speaker {
  background: url(../assets/speaker.webp) no-repeat center/cover;
  width: 22px;
  height: 22px;
}
.btn-ell-blue {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: $navy;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 12px;

  @include text_overflow;
  &:hover{
    background-color: rgba(42, 61, 114, 0.9);
  }
}
.btn-clear {
  width: 24px;
  height: 24px;
  background: url(../assets/c_ic_login_delete.svg) no-repeat center;
  cursor: pointer;
}

.btn-download {
  width: 20px;
  height: 20px;
  background: url(../assets/c_ic_list_download.svg) no-repeat center;
  cursor: pointer;
}
.btn-spec {
  width: 20px;
  height: 20px;
  background: url(../assets/13_icon_normal.svg) no-repeat center;
  cursor: pointer;
}
.btn-excel {
  padding: 0 10px;
  height: 38px;
  @include excel_button();

  &:hover {
    background-color: $green_10;
  }
}

.btn-register {
  @include common_button(100px, 38px);
  img {
    content: url("../assets/register.png");
    width: 14px;
    height: 14px;
  }
}

.btn-common {
  @include common_button(100px, 38px);
}

.btn-white {
  @include white_button(100px, 38px);
  &:hover {
    background-color: $gray_10;
  }
}
.btn-gray {
  width: 80px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #b8b8b8;
  color: $white;
  font-size: 12px;
  @include flex_center;
}
.btn-select-file {
  width: 80px;
  height: 30px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: rgb(124,194,224);
  color: $white;
  font-size: 12px;
  @include flex_center;
  &:hover {
    background-color: rgb(67,182,232);
  }
  cursor: pointer;
}
.btn-up {
  background: url(../assets/ic_dropdown_arrow_up_default.svg) no-repeat center;
  width: 20px;
  height: 20px;
}
.btn-down {
  background: url(../assets/ic_dropdown_arrow_down_default.svg) no-repeat center;
  width: 20px;
  height: 20px;
}
.btn-toggle, .btn-subscp, .btn-expo, .btn-notin, .btn-endate, .btn-open {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px $gray600;
  background-color: $white;
  @include flex_center;

  font-size: 13px;
  color: $black100;

  &.active {
    border: solid 1px $colors_font;
    color: $colors_font;
  }
}

.btn-select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;  
  border-radius: 4px;
  border: solid 1px $gray600;
  font-size: 14px; 
  text-align: center;
  color: $black100;
  background-color: #fff;
  cursor: pointer;

  &.active {
    border: solid 1px $colors_font;
    color: $colors_font;
  }
  &:hover {
    border: solid 1px $colors_font;
    color: $colors_font;
  }
}
.btn-check-group {
  display: flex;
  gap: 10px;
  .btn-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;  
    border-radius: 4px;
    border: solid 1px $gray600;
    font-size: 14px; 
    text-align: center;
    color: $black100;
    background-color: #fff;
    cursor: pointer;
  
    &.active {
      border: solid 1px $colors_font;
      color: $colors_font;
    }
 
  }
  &.disable {
    .btn-check {
      border: solid 1px $colors_line;
      color: $font_color;
      background-color: $gray100;
      cursor: default;  
    }
  }
}
.btn-select-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-check-group {
  & > input[type="checkbox"] {
    display: none;
  }

  & > input[type="checkbox"] + label {   
    width: 100px;
    height: 30px; 
    display: inline-block;
    padding: 4px 12px 6px;
    border-radius: 4px;
    border: 1px solid $gray600;
    font-size: 14px;    
    text-align: center;
    color: $black100;
    cursor: pointer;
    background: $white;
  }
  

  & > input[type="checkbox"]:checked + label {
    // display: inline-block;
    border: 1px solid $colors_font;
    color: $colors_font;
  }
}

.btn-radio-group {
  & > input[type="radio"] {
    display: none;
  }

  & > input[type="radio"] + label {   
    width: 100px;    
    display: inline-block;
    padding: 4px 12px 6px;
    border-radius: 4px;
    border: 1px solid $gray600;
    font-size: 14px;    
    text-align: center;
    color: $black100;
    background: $white;
    cursor: pointer;
  }
  

  & > input[type="radio"]:checked + label {  
    border: 1px solid $colors_font;
    color: $colors_font;
  }
}

.btn-rec-agree {
  @include flex_center;
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: $colors_main;

  font-size: 14px;
  color: $white;
}
.btn-rec-teal {
  @include flex_center;
  padding: 0 8px;
  height: 30px;
  border-radius: 4px;
  background-color: $teal;
  min-width: 50px;
  font-size: 12px;
  color: $white;
  &:hover {
    background-color: $colors_main;
  }
}
.btn-table-teal {
  @include flex_center;
  padding: 0 8px;
  height: 20px;
  border-radius: 4px;
  background-color: $teal;
  min-width: 60px;
  font-size: 12px;
  color: $white;
  font-weight: normal;
  &:hover {
    background-color: $colors_main;
  }
}
.btn-rec-teal-52 {
  width: 52px;
  @include flex_center;
  padding: 0 8px;
  height: 30px;
  border-radius: 4px;
  background-color: $teal;

  font-size: 12px;
  color: $white;
  &:hover {
    background-color: $colors_main;
  }
}
.btn-rec-teal-86 {
  width: 86px;
  @include flex_center;
  padding: 0 8px;
  height: 30px;
  border-radius: 4px;
  background-color: $teal;

  font-size: 12px;
  color: $white;
  &:hover {
    background-color: $colors_main;
  }
}
.btn-add {
  background: url(../assets/c_btn_plus_default.svg) no-repeat center;
  width: 18px;
  height: 18px;
  &:hover {
    background: url(../assets/c_btn_plus_hover.svg) no-repeat center;
  }
}
.btn-bell{
  background: url(../assets/c_ic_login_Notice.svg) no-repeat center;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background-size: contain;
  position: relative;
  &.active{
    &::after{
      content:'';
      position:absolute;
      right:0;
      top:0;
      width:12px;
      height: 12px;
      border-radius: 50%;
      background-color: $red;
    }
  }
}
/*********** icon ***********/
.ic-title-nece {
  &::after {
    content: "*";
    padding-left: 2px;
    color: $red;
    font-size: 14px;
    font-weight: 500;
  }
}
.ic-txt-nece {
  &::before {
    content: "*";
    padding-right: 2px;
    color: $red;
    font-size: 14px;
    font-weight: 500;
  }
}

.ic-noti {
  background: url(../assets/14_ic_info_q_mark.png) no-repeat center/cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  &:hover{
    .noti-box{
      display: flex;
    }
   
  }
  .noti-box {
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;

    width: 300px;
    height: 60px;
    padding: 10px 20px;
    border: 1px solid $colors_line;
    background-color: $white;
    font-size: 12px;
    color: $font_color;
    font-weight: normal;
    border-radius: 4px;
    border-top-left-radius: 0px;
        z-index: 10;
  }
}

@each $info in normal, possible, error, warning {
  .ic-#{$info} {
    @include flex_center;
    font-size: 14px;
    &::before {
      content: url(../assets/13_ic_#{$info}.svg);
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
}
@each $color in red, green, blue, orange, purple {
  .legend-#{$color} {
    width: 20px;
    height: 20px;
    content: url("../assets/06_img_list_color_chip_#{$color}.png");  
  }
}
.ic-normal {
  color: #018ddd;
}
.ic-possible {
  color: #8f69d5;
}
.ic-error {
  color: #f67347;
}
.ic-warning {
  color: #eb5050;
}
@each $tab in video, ost, icod{
  .ic-#{$tab} {
    @include flex_center;
    &::before {
      content: url(../assets/07_ic_folder_#{$tab}_default.svg);
      display: inline-block;
      width: 46px;
      height: 46px;
    }
  }
}

/*********** components ***********/

/* components html*/
.components-wrapper {
  padding: 20px;

  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 40px;
  }
  article {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  input,
  button,
  select {
    max-width: 300px;
  }
}

#modal-background, #modal-background2 {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
#modal-background {z-index: 1;}
.modal-con {z-index: 2;}
#modal-background2 {z-index: 3;}
.modal-con2 {z-index: 4;}
.modal-con, .modal-con2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.height-auto {
  height: 100% !important;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  @include large {    
    margin: 0 160px;
  }
  @include small {
    margin: 0 auto; 
    width: 1600px;     
  }
  padding: 12px 0;

  font-size: 13px;
  color: #616366;
}

.blank-row {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #dcdfe4;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

// radio
.radio-group { 
  position: relative; 

  input[type="radio"]{
      width:1px; 
      height:1px; 
      padding:0; 
      border:0 none; 
      margin:0; 
      position:absolute; 
      left:0; 
      top:0; 
      overflow:hidden;
      clip:rect(0 0 0 0);

      &:checked + label{ background:url(../assets/c_ic_radiobox_selected.svg) no-repeat;  }
      &:disabled + label{ background:url(../assets/c_ic_radiobox_disabled.svg) no-repeat;  }
      &:disabled:checked + label{ background:url(../assets/c_ic_radiobox_selected_disabled.svg);  }

  }
 
  label{
     height:22px; 
     line-height:22px; 
     padding-left:20px; 
     display:inline-block; 
     background:url(../assets/c_ic_radiobox_default.svg) no-repeat; 
     vertical-align:middle; 
     cursor:pointer;
  }
}

.filebox input[type="file"] { 
  display: flex;  
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); border: 0; 
} 
.filebox label {   
  vertical-align: middle; 
  margin-left: 5px;
    width: 80px;
    height: 30px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: rgb(124,194,224);
    color: $white;
    font-size: 12px;
    
    &:hover {
      background-color: rgb(67,182,232);
    }
    cursor: pointer;
  
  } /* named upload */ 
.filebox .upload-name { display: inline-block; padding: .5em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

select, select.select-box {
  appearance: none;
  border: none;
  
  cursor: pointer;    
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(40, 42, 63, 0.83);

  text-overflow: ellipsis;

  background: url(../assets/ico-dropdown.png) no-repeat center right 10px;
  border-radius: 4px;
  // border: solid 1px $colors_line;
  background-color: $white;
  padding: 0 15px;
  height: 38px;

  option {
    height: 35px;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: rgba(20, 31, 64, 0.83);
    border: 1px solid $gray400;
  }  
}

select, select.select-box {
  width: 100%;
  height: 100%;
}

// tab

.tab {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray600;
  margin-bottom: 30px;
  &-menu {
    width: 160px;
    padding: 0 10px 6px 10px;
    font-size: 15px;
    color: $font_color_80;

    @include flex_center;
    cursor: pointer;

    &.active {
      font-size: 15px;
      color: $colors_font;
      border-bottom: 2px solid $colors_main;
    }
  }

  &-content {
    display: none;
    &.active {
      display: block;
    }
  }
}

//tab02
.tab02 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-bottom: 30px;
 
  &-menu {
    width:200px;
    height: 80px;
    font-size: 15px;
    text-align: center;
    color: $font_color_80;
    border:1px solid #e6e8ea;
    border-radius: 14px;
    // background: url(../assets/08_img_preplay.svg) no-repeat center;

    @include flex_center;
    
    cursor: pointer;

    &.active {
      font-size: 15px;
      color: $white;
      border:1px solid  $colors_font;
      background-color: $colors_font;
    }
  }

  &-content {
    display: none;
    &.active {
      display: block;
    }
  }
}

// list-box
.list-box-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  .list-box {
    width: 400px;
    height: 266px;
    border-radius: 4px;
    border: 1px solid $colors_line;
    background-color: $white;

    @include scrollbar("V");
    p {
    
      padding: 9px 16px;
    }
    li {
      padding: 9px 16px;
      cursor: pointer;
      &:hover, &.active{
        background-color: $teal;
        color:$white;
      }
      
    }
  }
  .btn-rec-teal {
    width: 60px;
    height: 30px;
    font-size: 18px;
    &:first-child {
      margin-bottom: 15px;
    }

   
  }
}  

strong {
  &.green { color: green;}
  &.blue { color: blue;}
  &.red { color: red;}
}

.info_line {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #f1f7ff;
  font-size: 15px;  
  color: #586a9b;  
}
.bottom-line {  
  border-left: 10px solid $colors_box;
  border-right: 10px solid $colors_box ;
  border-bottom: 1px solid #88aad7;
}
.tot-td {background: $colors_box;}
.width-140 {width: 140px;}
.width-85 {width: 85px;}
.width-168 {width: 168px;}
.width-200 {width: 200px;}
.width-220 {width: 220px;}
.width-240 {width: 240px;}
.width-104 {width: 104px;}
.width-75 {width: 75px;}
.width-94 {width: 94px;}
.width-86 {width: 86px;}
.width-132 {width: 132px;}
.width-40 {width: 40px;}

//info-wrapper

select[multiple], select.select-box {
  width: 400px;
  height: 266px;
  padding: 0;
  border-radius: 4px;
  border: solid 1px #bcbfc7;
  background: #fff;  
  option {
    padding: 0 15px;
    height: 38px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #141f40;
    border: none;
    display: flex;
    align-items: center;

    &:checked {
      background-color: $colors_main_10;
      color: $colors_main;
    }
    &:hover {
      color: $colors_main;
    }
  }
  @include scrollbar("V");
}
.info-wrapper {
  margin-bottom: 30px;
  @each $info in normal, possible, error, warning {
    .info-#{$info} {
      background: url(../assets/13_img_#{$info}_bg.svg) no-repeat center;
      width: 312px;
      height: 100px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 0 30px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    li {
      &.info-normal {
        p {
          color: #018ddd;
        }
      }
      &.info-possible {
        p {
          color: #8f69d5;
        }
      }
      &.info-error {
        p {
          color: #f67347;
        }
      }
      &.info-warning {
        p {
          color: #eb5050;
        }
      }
      text-align: right;
      span {
        font-size: 14px;
        font-weight: 500;
        color: $colors_box_title;
      }
      p {
        font-size: 26px;
        font-weight: 500;
      }
    }
  }
}

// tree-box
.tree-box {
  border: 1px solid #ddd;
  padding: 10px;
  .jstree-leaf {
    padding-left: 10px;
  }
}

.bg {
  &-red {
    background-color: $table_bg_red;
  }
  &-blue {
    background-color: $table_bg_blue;
  }
  &-purple {
    background-color: $table_bg_purple;
  }
  &-green {
    background-color: $table_bg_green;
  }
}

.input-time-group {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  select {
    
    border: 1px solid $gray400;
    &:hover {
      border: 1px solid $gray400;
    }
    &.active {
      border: 1px solid $navy;
    }
}
}
.setting-grid {
  display: grid;
  grid-template-columns: 170px 1fr 170px 1fr;     
  grid-auto-flow: row;
  border-top: 1px solid $gray600;
  .setting-grid-title {
    background: $colors_box;
    border-bottom: 1px solid $gray600;
    min-height: 60px;
    
    display: flex;
    align-items: center;      
    padding: 20px 24px;          
    background-color: $colors_box;
    color: $colors_box_title;
    font-size: 14px;
    font-weight: 500;    
  }
  .setting-grid-content {
    border-bottom: 1px solid $gray600;
    min-height: 60px;                    
    
    padding: 15px 20px;
    font-size: 13px;
    color: $font_color;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .row {
    grid-column: span 4;
  }
  .span-3 {grid-column: span 3;}
  .flex-col {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 10px;}
  .flex-row{display: flex; gap: 10px; align-items: center;}
  margin-bottom: 20px;
}
.flex-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.flex-ct {
  @include flex_center;
  gap: 10px;
}
.block{
  display: block !important;
}
// table double
table.jb-table thead.double {
  height: 60px;
  tr {
    &:first-child {
      .brt10 {
        border-right: 10px solid transparent;
      }
    }
    &:last-child {
      border-top: 1px solid rgba(136, 170, 215, 0.3%);
      th {
        border-radius: 0;
      }
    }
  }
}
.flex-row{display: flex; gap: 10px; align-items: center;}

